In [122]:
#import Libriaries
import xml.etree.ElementTree as ET
import pandas as pd
import re
import pyodbc #oldwayto connect to sql server
import pydash #to format table and field names
import pandasgui as pg #to visualize dataframes
import sqlalchemy  #new way to connect to sql server

In [123]:
# Define the connection details
server = 'jacobo-dev.database.windows.net'
port = '1433'
database = 'jacobo-dev-sqlserver-azure-001'
username = 'azure-admin'
password = 'ja-2023-un0ypzjo'
driver = '{ODBC Driver 18 for SQL Server}'

# Define the connection string
conn_str = f"DRIVER={driver};SERVER={server},{port};DATABASE={database};UID={username};PWD={password};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30"

In [124]:
# Test SQL DB Connection
try:
    conn = pyodbc.connect(conn_str)
    print("Connection successful!")
    conn.close()
except pyodbc.Error as e:
    print("Error connecting to database:", e)

Error connecting to database: ('08001', '[08001] [Microsoft][ODBC Driver 18 for SQL Server]TCP Provider: Timeout error [258].  (258) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 18 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 18 for SQL Server]Invalid connection string attribute (0); [08001] [Microsoft][ODBC Driver 18 for SQL Server]Unable to complete login process due to delay in login response (258)')

In [125]:
#function to get all the child elements of a given xml element

def get_child_elements(xml_root):
    # Create a list to store all child elements
    elements = []
    #append xml root to elements list
    #elements.append(xml_root)
    # Get all child elements of a given xml element
    for child in xml_root:
        elements.append(child)
        elements.extend(get_child_elements(child))
    return elements

In [126]:
def process_xml_elements(conn, elements):
    """
    Inserts the attributes of each XML element into a SQL table with the same name
    as the element tag.
    """
    #conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    
    # loop through the elements and their attributes
    for element in elements:
        # create the SQL table name using the element tag
        table_name = element.tag

        # create the SQL create table query
        create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("
        for attr in element.attrib:
            create_table_query += f"{attr} VARCHAR(MAX), "
        create_table_query = create_table_query[:-2] + ")"

        # execute the create table query
        cursor.execute(create_table_query)
        cursor.commit()

        # insert the element attributes into the table
        insert_query = f"INSERT INTO {table_name} ("
        for attr in element.attrib:
            insert_query += f"{attr}, "
        insert_query = insert_query[:-2] + ") VALUES ("
        for attr in element.attrib:
            insert_query += f"'{element.attrib[attr]}', "
        insert_query = insert_query[:-2] + ")"

        # execute the insert query
        cursor.execute(insert_query)
        cursor.commit()

    # close the database connection
    conn.close()

In [127]:
def pascal_case(text):
    return ''.join(word.capitalize() for word in text.split())

In [128]:
# Define file to read
xml_file_path = r"C:\Users\Roberto\OneDrive\cargoIabono\Proyectos y Desarrollos\P001_V001_CFDI-Reader\01_Inputs\Nomina\EMS2103108P3_Pago de nómina_20220815_N_AOAR951019842.xml"
xml_tree = ET.parse(xml_file_path)
xml_root = xml_tree.getroot()

In [129]:
#Read XML Child elements
elements = get_child_elements(xml_root)

#add xml root to read it with their child elements
elements.append(xml_root)

#print child elements
for element in elements:
    if element.attrib:
        print(element.tag, element.attrib)

{http://www.sat.gob.mx/cfd/3}Emisor {'Rfc': 'EMS2103108P3', 'Nombre': 'ESAB MEXICO SERVICES SA DE CV', 'RegimenFiscal': '601'}
{http://www.sat.gob.mx/cfd/3}Receptor {'Rfc': 'AOAR951019842', 'Nombre': 'Roberto Carlos Alonso Alvarez', 'UsoCFDI': 'P01'}
{http://www.sat.gob.mx/cfd/3}Concepto {'ClaveProdServ': '84111505', 'Cantidad': '1', 'ClaveUnidad': 'ACT', 'Descripcion': 'Pago de nómina', 'ValorUnitario': '43376.49', 'Importe': '43376.49', 'Descuento': '14787.52'}
{http://www.sat.gob.mx/nomina12}Nomina {'Version': '1.2', 'TipoNomina': 'O', 'FechaPago': '2022-08-15', 'FechaInicialPago': '2022-08-01', 'FechaFinalPago': '2022-08-15', 'NumDiasPagados': '15.000', 'TotalPercepciones': '43376.49', 'TotalDeducciones': '14787.52', 'TotalOtrosPagos': '0.00'}
{http://www.sat.gob.mx/nomina12}Emisor {'RegistroPatronal': 'Y3936393101'}
{http://www.sat.gob.mx/nomina12}Receptor {'Curp': 'AOAR951019HNLLLB06', 'NumSeguridadSocial': '43129510616', 'FechaInicioRelLaboral': '2022-02-01', 'Antigüedad': 'P28W', 'TipoContrato': '01', 'Sindicalizado': 'No', 'TipoJornada': '01', 'TipoRegimen': '02', 'NumEmpleado': '20035', 'Departamento': 'Finanzas', 'Puesto': 'Senior FP&A', 'RiesgoPuesto': '1', 'PeriodicidadPago': '04', 'Banco': '021', 'CuentaBancaria': '6544880714', 'SalarioBaseCotApor': '2405.50', 'SalarioDiarioIntegrado': '3159.17', 'ClaveEntFed': 'NLE'}
{http://www.sat.gob.mx/nomina12}Percepciones {'TotalSueldos': '43376.49', 'TotalGravado': '41500.20', 'TotalExento': '1876.29'}
{http://www.sat.gob.mx/nomina12}Percepcion {'TipoPercepcion': '001', 'Clave': '101', 'Concepto': 'Sueldo normal', 'ImporteGravado': '41500.2', 'ImporteExento': '0'}
{http://www.sat.gob.mx/nomina12}Percepcion {'TipoPercepcion': '005', 'Clave': '1fa', 'Concepto': 'Fondo de ahorro', 'ImporteGravado': '0', 'ImporteExento': '1876.29'}
{http://www.sat.gob.mx/nomina12}Deducciones {'TotalOtrasDeducciones': '4709.84', 'TotalImpuestosRetenidos': '10077.68'}
{http://www.sat.gob.mx/nomina12}Deduccion {'TipoDeduccion': '002', 'Clave': '201', 'Concepto': 'ISR', 'Importe': '10077.68'}
{http://www.sat.gob.mx/nomina12}Deduccion {'TipoDeduccion': '001', 'Clave': '202', 'Concepto': 'Seguro social', 'Importe': '957.26'}
{http://www.sat.gob.mx/nomina12}Deduccion {'TipoDeduccion': '004', 'Clave': '2rfap', 'Concepto': 'Retencion Fondo de Ahorro Patrón', 'Importe': '1876.29'}
{http://www.sat.gob.mx/nomina12}Deduccion {'TipoDeduccion': '004', 'Clave': '2rfao', 'Concepto': 'Retencion Fondo de Ahorro Trabajador', 'Importe': '1876.29'}
{http://www.sat.gob.mx/nomina12}OtroPago {'TipoOtroPago': '002', 'Clave': '107', 'Concepto': 'Subsidio para el empleo (efectivamente entregado al trabajador)', 'Importe': '0.00'}
{http://www.sat.gob.mx/nomina12}SubsidioAlEmpleo {'SubsidioCausado': '0'}
{http://www.sat.gob.mx/TimbreFiscalDigital}TimbreFiscalDigital {'{http://www.w3.org/2001/XMLSchema-instance}schemaLocation': 'http://www.sat.gob.mx/TimbreFiscalDigital http://www.sat.gob.mx/sitio_internet/cfd/TimbreFiscalDigital/TimbreFiscalDigitalv11.xsd', 'SelloSAT': 'V+o6bK02nYnMZ9udxYSX4JVabpcocXPhTQlbChhoS/acqWvtmG6l+gofEBpLc4MWRJ/9+TsouU4w7MG/uFpHP/drvkI1nITGBBtb0TtO55zIfcmWwH6/4xrDyyutqbWbCqoEy46u0tCsoL1IahZuL1Uzvoo+JQZ+VObKam0Mxdcs/NjwWnSoOqA2DoLX6xE9k3L5Bq9zdRcc/bpU3/Etusfl6XkeTGwPduYrPxhqu6MPKSfETupchlffiPs5/TH+/axS+XcGXsY6wX2Uc5d5qo/difvPJ3tZKwnB4iwaUa2tcLBiQfo0ouX5xI+XzAsJznb+tw3+my/XnVgBqP4D0g==', 'NoCertificadoSAT': '00001000000502000436', 'SelloCFD': 'Te4Lmnf/eDgK5YLE2UC/LENClMEglH2XUavfiO1DS/Ym7GRbVvDvn1r0VcZqNVxVK6atZddZ09MBVnv9wSUzOsnx9NmeYdylXUw97RgBB+5f6PdI8zR9tLm/ohPt/HwQbmbrSM9rrBs6u8+UDsrKrPgIc10/93VH4PGs2NxUyJPReI79kqlyF+2l++DkXqtApXwcC2aJIWtvqCYc+XWaVB42h0jFnrtyILg7Hw33d8VGbWHEEDgVVG0LLmcpmGqOM+1k0JwCZZmBKW3prGntWBvRq36DwB7vx/WgXw8jQNF5NL+OERwZpTVd/zDCTeIbQKfMtge39rbKrPGMGAk8AA==', 'RfcProvCertif': 'SCD110105654', 'FechaTimbrado': '2022-08-15T14:18:43', 'UUID': 'B7D29180-3BB4-904C-9DC5-8730016AA924', 'Version': '1.1'}
{http://www.sat.gob.mx/cfd/3}Comprobante {'{http://www.w3.org/2001/XMLSchema-instance}schemaLocation': 'http://www.sat.gob.mx/cfd/3 http://www.sat.gob.mx/sitio_internet/cfd/3/cfdv33.xsd http://www.sat.gob.mx/nomina12 http://www.sat.gob.mx/sitio_internet/cfd/nomina/nomina12.xsd', 'Version': '3.3', 'Serie': 'NOM', 'Folio': '1334', 'Fecha': '2022-08-15T14:18:40', 'Sello': 'Te4Lmnf/eDgK5YLE2UC/LENClMEglH2XUavfiO1DS/Ym7GRbVvDvn1r0VcZqNVxVK6atZddZ09MBVnv9wSUzOsnx9NmeYdylXUw97RgBB+5f6PdI8zR9tLm/ohPt/HwQbmbrSM9rrBs6u8+UDsrKrPgIc10/93VH4PGs2NxUyJPReI79kqlyF+2l++DkXqtApXwcC2aJIWtvqCYc+XWaVB42h0jFnrtyILg7Hw33d8VGbWHEEDgVVG0LLmcpmGqOM+1k0JwCZZmBKW3prGntWBvRq36DwB7vx/WgXw8jQNF5NL+OERwZpTVd/zDCTeIbQKfMtge39rbKrPGMGAk8AA==', 'FormaPago': '99', 'NoCertificado': '00001000000508041177', 'Certificado': 'MIIGAjCCA+qgAwIBAgIUMDAwMDEwMDAwMDA1MDgwNDExNzcwDQYJKoZIhvcNAQELBQAwggGEMSAwHgYDVQQDDBdBVVRPUklEQUQgQ0VSVElGSUNBRE9SQTEuMCwGA1UECgwlU0VSVklDSU8gREUgQURNSU5JU1RSQUNJT04gVFJJQlVUQVJJQTEaMBgGA1UECwwRU0FULUlFUyBBdXRob3JpdHkxKjAoBgkqhkiG9w0BCQEWG2NvbnRhY3RvLnRlY25pY29Ac2F0LmdvYi5teDEmMCQGA1UECQwdQVYuIEhJREFMR08gNzcsIENPTC4gR1VFUlJFUk8xDjAMBgNVBBEMBTA2MzAwMQswCQYDVQQGEwJNWDEZMBcGA1UECAwQQ0lVREFEIERFIE1FWElDTzETMBEGA1UEBwwKQ1VBVUhURU1PQzEVMBMGA1UELRMMU0FUOTcwNzAxTk4zMVwwWgYJKoZIhvcNAQkCE01yZXNwb25zYWJsZTogQURNSU5JU1RSQUNJT04gQ0VOVFJBTCBERSBTRVJWSUNJT1MgVFJJQlVUQVJJT1MgQUwgQ09OVFJJQlVZRU5URTAeFw0yMTA3MDMxNjM3MTJaFw0yNTA3MDMxNjM3MTJaMIHQMSYwJAYDVQQDEx1FU0FCIE1FWElDTyBTRVJWSUNFUyBTQSBERSBDVjEmMCQGA1UEKRMdRVNBQiBNRVhJQ08gU0VSVklDRVMgU0EgREUgQ1YxJjAkBgNVBAoTHUVTQUIgTUVYSUNPIFNFUlZJQ0VTIFNBIERFIENWMSUwIwYDVQQtExxFTVMyMTAzMTA4UDMgLyBSQUdKNzUwNjAzOVowMR4wHAYDVQQFExUgLyBSQUdKNzUwNjAzSE5MTVpOMDMxDzANBgNVBAsTBk5vbWluYTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAIIxE5yC+92lWvhKxWa7Bt+qMKnlNZhzJBy57cXJbedq/enw2QWpvGfQU2xa/6Bro4YaConcAQJ/+PDcSYtdFY+IarW4biV04e2iOM5/jJAa89i8wBdzfMZn1nQRHeeyzgr04oUPE3mN1uSzotMjAvaLMqkz5Ts4e+ELweKDY26UdGmoHszECnvWjvkhfspbDbm/zRNUGMWuo1AQdWorDXnpt148sMJAHREJij+b28Zq3iGC/bJjXbUVBnPFTl7zNrl5N7bn05BgXhn1QtoeC+LhMOk67WRG3JIWUlMyz90CGwGWOwemV9Cn96PBwjQnqgzsT5k7vlrbD/SOp/kmArcCAwEAAaMdMBswDAYDVR0TAQH/BAIwADALBgNVHQ8EBAMCBsAwDQYJKoZIhvcNAQELBQADggIBAGKmBJjartRVMWsvWraSC7/8rj9qrcXHSXibu+PjwkJs5taP+BKgM76JTt7SsWs+obJxuCDlPupaFJi8+DrAWrTHbfqDMYkRLx0Ldrs8sBscqkRFexfOlfrni8RIoBByWIh/zezsTbLSALFK2g7ho+VkDlEPTL2328RT/2ZONxS+9walyStlVAsiOj7i/dk5POSMmnnNkwOTNqCjDFSd+/P/p/mRWqm4KCl5DIktncZ/hGEJ7ejr+R49L1gWGLyl6ysfCl+Ae3dQWWsMK+59EJlgHQFaAVL0bGzKPZLmJ6LOwhEihLOwV6sBeneLSOualuPdwrUiAvnUFJ/TGwq9VZvP/XtA+jzo8ABKqpX9i4yRNzKNXegndaZEI3SHbMbT3NTwiq0+ZLSwxsTiy/JCyi8MUB+AeQen0ZU8mm8qTYQAevBLS7e5vmV60qVuKopG87Hl/YDRgHM85JMT7Jh3+QUmQqk/U9fBxtGmr7DH/lgb4FBHPCW/1HlgcwGUA4HkGGya9k5TU7wnfR5+TOpJXUHItsF7UePjNUH19SdOqsc2FhEFtFoaLUUrbpMfIlj0ByBk1mNviIjnxVU/d1bqYkDSmvch9EbLeOBxBynx4Rt3wKOSHrRjxKqI81FyMo/pfranD7tYrIegG5A0Gf5odOSL2NAsCAUmAwVhMdkNdO2X', 'SubTotal': '43376.49', 'Descuento': '14787.52', 'Moneda': 'MXN', 'Total': '28588.97', 'TipoDeComprobante': 'N', 'MetodoPago': 'PUE', 'LugarExpedicion': '64000'}

**SQL Query with pandas.**

In [131]:
## Test Query Retrieve Data

# Define the SQL query
sample_query = "SELECT * FROM [cfditest].[SampleTable]"

# Establish the database connection
conn = pyodbc.connect(conn_str)

# Execute the SQL query and load the data into a pandas dataframe
df = pd.read_sql(sample_query, conn)

# Print the first five rows of the dataframe
print(df.head())

# display data using pandasgui
pg.show(df.head())

C:\Users\Roberto\AppData\Local\Temp\ipykernel_27424\2157251554.py:8: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

PandasGUI INFO — pandasgui.gui — Opening PandasGUI

   Id         Name  Age                    Email
0   1     John Doe   30     john.doe@example.com
1   2   Jane Smith   25   jane.smith@example.com
2   3  Bob Johnson   40  bob.johnson@example.com
3   4    Alice Lee   35    alice.lee@example.com
4   5    Tom Brown   28    tom.brown@example.com

In [ ]:
#cleantag
for element in elements:
    cleaned_tag = re.sub(r"{.*?}", "", element.tag)
    print(cleaned_tag)